{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    {% if title %}
    <title>Events Management System - {{ title }}</title>
    {% else %}
    <title>Events Management System</title>
    {% endif %}

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico" />

    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'events/styles5.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'events/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'events/responsive.css' %}"/>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'events/templatemo-sixteen.css' %}"/>
<style>
  .content-section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .form-group {
    width:500px;
  }
 
</style>
    
  </head>
  <body>
    <!-- Preloader -->
    <div id="preloader">
      <div class="preload-content">
        <div id="original-load"></div>
      </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
      <!-- Top Header Area -->
      <div class="top-header">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <!-- Breaking News Area -->
            <div class="col-12 col-sm-8">
              <div class="breaking-news-area">
                <div id="breakingNewsTicker" class="ticker">
                  <ul>
                    <li><a href="#" style="color: black;">Hello World!</a></li>
                    <li><a href="#" style="color: black;">Welcome to Maverick Events!</a></li>
                    <li><a href="#" style="color: black;">Post Your Event!</a></li>
                    <li><a href="#" style="color: black;">Earn from Ticket Sales!</a></li>
                    <li><a href="#" style="color: black;">Go Digital!</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Top Social Area -->
            <div class="col-12 col-sm-4">
              <div class="top-social-area">
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Pinterest"
                  ><i class="fa fa-pinterest" aria-hidden="true"></i
                ></a>
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Facebook"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Twitter"
                  ><i class="fa fa-twitter" aria-hidden="true"></i
                ></a>
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Dribbble"
                  ><i class="fa fa-dribbble" aria-hidden="true"></i
                ></a>
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Behance"
                  ><i class="fa fa-behance" aria-hidden="true"></i
                ></a>
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Linkedin"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Logo Area -->
      <div class="logo-area text-center">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <a href="{% url 'events-home' %}" class="original-logo"
                ><h2 style="color: black;">Maverick Events</h2>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Nav Area -->
      <div class="original-nav-area" id="stickyNav">
        <div class="classy-nav-container breakpoint-off">
          <div class="container">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between">
              <!-- Subscribe btn -->
              <div class="subscribe-btn">
                <a
                  href="#"
                  class="btn subscribe-btn"
                  data-toggle="modal"
                  data-target="#subsModal"
                  >Sell With Us</a
                >
              </div>

              <!-- Navbar Toggler -->
              <div class="classy-navbar-toggler">
                <span class="navbarToggler"
                  ><span></span><span></span><span></span
                ></span>
              </div>

              <!-- Menu -->
              <div class="classy-menu" id="originalNav">
                <!-- close btn -->
                <div class="classycloseIcon">
                  <div class="cross-wrap">
                    <span class="top"></span><span class="bottom"></span>
                  </div>
                </div>

                <!-- Nav Start -->
                <div class="classynav">
                  <ul>
                    <li><a href="{% url 'events-home' %}">Home</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="{% url 'events-about' %}">About Us</a></li>
                    {% if user.is_authenticated %}
                      <li><a href="{% url 'post-create' %}">Post An Event</a></li>
                      <li><a href="{% url 'ticket-create' %}">Generate Ticket</a></li>
                      <li><a href="{% url 'order' %}">Check Ticket</a></li>
                      <li><a href="{% url 'b2c' %}">Admin Withdraw</a></li>
                      <li><a href="{% url 'totals' %}">Event Totals</a></li>

                      <li><a href="{% url 'profile' %}">Profile</a></li>
                      <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                      <li><a href="{% url 'login' %}">Login</a></li>
                      <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                  </ul>

                </div>
                <!-- Nav End -->
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ##### Header Area End ##### -->

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Footer Nav Area -->
            <div class="classy-nav-container breakpoint-off">
              <!-- Classy Menu -->
              <nav class="classy-navbar justify-content-center">
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                  <span class="navbarToggler"
                    ><span></span><span></span><span></span
                  ></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">
                  <!-- close btn -->
                  <div class="classycloseIcon">
                    <div class="cross-wrap">
                      <span class="top"></span><span class="bottom"></span>
                    </div>
                  </div>

                  <!-- Nav Start -->
                  <div class="classynav">
                    <ul>
                      <li><a href="{% url 'events-home' %}">Home</a></li>
                      <li><a href="{% url 'events-about' %}">About</a></li>
                      <li><a href="{% url 'post-create' %}">Post An Event</a></li>
                      <li><a href="{% url 'ticket-create' %}">Generate Ticket</a></lii>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                  </div>
                  <!-- Nav End -->
                </div>
              </nav>
            </div>

            <!-- Footer Social Area -->
            <div class="footer-social-area mt-30">
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Pinterest"
                ><i class="fa fa-pinterest" aria-hidden="true"></i
              ></a>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Facebook"
                ><i class="fa fa-facebook" aria-hidden="true"></i
              ></a>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Twitter"
                ><i class="fa fa-twitter" aria-hidden="true"></i
              ></a>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Dribbble"
                ><i class="fa fa-dribbble" aria-hidden="true"></i
              ></a>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Behance"
                ><i class="fa fa-behance" aria-hidden="true"></i
              ></a>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Linkedin"
                ><i class="fa fa-linkedin" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      All rights reserved | By
      <i class="fa fa-heart-o" aria-hidden="true"></i> 
      <a href="https://colorlib.com" target="_blank">Powell Habwe</a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="{% static 'events/js/jquery/jquery-2.2.4.min.js'%}"></script>
    <!-- Popper js -->
    <script src="{% static 'events/js/popper.min.js'%}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'events/js/bootstrap.min.js'%}"></script>
    <!-- Plugins js -->
    <script src="{% static 'events/js/plugins.js'%}"></script>
    <!-- Active js -->
    <script src="{% static 'events/js/active.js'%}"></script>


    <script src="https://www.paypal.com/sdk/js?client-id=AWyFhlijfDNxo3pwEMFAingo7pyVWaFNZJSb4gwGsFEWY09wywx8GpQKrXyr7YJ7WQLrVzs7w_TDEuhq&disable-funding=credit,card"></script>
    {% comment %} <script src="{% static 'events/index.js'%}"></script>  {% endcomment %}
  </body>
</html>


<script>
  let price = {{ post.price }}
  console.log(price.value)

  paypal.Buttons({
    style : {
        color: 'blue',
        shape: 'pill'
    },
    createOrder: function (data, actions) {
        return actions.order.create({
            purchase_units : [{
                amount: {
                    value: price
                }
            }]
        });
    },
    onApprove: function (data, actions) {
        return actions.order.capture().then(function (details) {
            console.log(details)
            window.location.replace("http://localhost:8000/success")
        })
    },
    onCancel: function (data) {
        window.location.replace("http://localhost:8000/cancel")
    }
  }).render('#paypal-payment-button');
</script>   
