{% extends 'events/base.html' %}
{% load static %}
{% block content %}
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url({% static 'events/img/bg-img/b1.jpg'%}); height:500px">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content text-center">
                        <h2>Checkout Cancelled</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}     